.button{
    background-color: blue;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}
.f{
    color:darkcyan;
}
.u{
    color:palevioletred;
}
.n{
     color:rgb(11, 235, 235);
}
.d{
    color:rgb(124, 238, 153)
}
.o{
    
color:rgb(244, 247, 118)
}