<div class="container-fliud">
  <div class="jumbotron jumbotron-fluid bg-warning">
     <div class="row bg-warning">
        <div class="col-xs-2 col-md-2 col-lg-4">
           <p>FUNDOO ADMIN</p>
        </div>
      <div class="col-xs-8 col-md-8 col-lg-4"></div>
      <div class="col-xs-2 col-md-2 col-lg-4">
        <a href="#" class="btn btn-dark btn-lg" style="float:right">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a></div>
     </div>
  </div>
  
  <div class="col-xs-0 col-sm-4"></div>
<div class="col-xs-12 col-sm-4" style="margin-top:5%">
  <div id="services"></div>
  </div>
  <div class="col-xs-0 col-sm-4"></div>
 
  <table class="table" id=tableList>
    <thead>
      <tr>
      <th scope="col">SNO</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">Service</th>
      </tr>
    </thead>
  </table>
  
  </div>
 







<!-- <div class="row">
  <div class="col-xs-12 bg-warning">
    <div class="col-sm-0 col-md-0 col-lg-4">
      <span style="color:darkcyan">F</span>
      <span style="color:palevioletred">U</span>
      <span style="color:rgb(11, 235, 235)">N</span>
      <span style="color:rgb(124, 238, 153)">D</span>
      <span style="color:rgb(244, 247, 118)">O</span>
      <span style="color:darkcyan">O</span>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
      <h1 style="height:400%;align-self: center">ADMIN</h1>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
      <a href="#" class="btn btn-dark btn-lg" style="float:right">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
    </div>
  </div>
</div> -->