<mat-icon matTooltip="Change Color" [matMenuTriggerFor]="menu" *ngIf="!isDeleted">palette</mat-icon>
<mat-menu #menu="matMenu"  yPosition="above"  class="menu" [overlapTrigger]="false" style="position: absolute">
    <!-- <div class="menulist"> -->
<div style="padding:0px">
        <button mat-mini-fab id="color1" (click)="change('#ffffff')"></button>
        <button mat-mini-fab id="color2" (click)="change('#90ee90')"></button>
        <button mat-mini-fab id="color3" (click)="change('#f66ef6')"></button>
        <button mat-mini-fab id="color4" (click)="change('#f08080')"></button>
</div>
<div style="padding:0px">
    <button mat-mini-fab id="color5" (click)="change('#05f6f6')"></button>
    <button mat-mini-fab id="color6" (click)="change('#ffb6c1')"></button>
    <button mat-mini-fab id="color7" (click)="change('#ffff66')"></button>
    <button mat-mini-fab id="color8" (click)="change('#add8e6')"></button>
</div>
<div style="padding:0px">
    <button mat-mini-fab id="color9" (click)="change('#e6a9a9')"></button>
    <button mat-mini-fab id="color10" (click)="change('#ffff81')"></button>
    <button mat-mini-fab id="color11" (click)="change('#a9a9d6')"></button>
    <button mat-mini-fab id="color12" (click)="change('#d9d9d9')"></button>
</div>
<!-- </div> -->
 </mat-menu>