.material-icons {
    cursor: pointer;
    opacity: 0.5;
}
.material-icons:hover {
    cursor: pointer;
    opacity: 1.5;
}
#color1{
    /* border-radius: 200%; */
    background-color: white;
}
#color2{
 /* border-radius: 200%; */
    background-color:blue;

}