.material-icons {
    cursor: pointer;
    opacity: 0.5;
}
.material-icons:hover {
    cursor: pointer;
    opacity: 1.5;
}
::ng-deep.mat-menu-content:not(:empty) {
    padding:10px;
    /* padding-bottom: 8px; */
    overflow:hidden
}