.icons{
    opacity: 0;
}
.icons:hover{
    opacity:1
}
.note{
 word-wrap: break-word;
 width:120px
     /* word-break: break-all; */

}
.maindiv{
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.material-icons {
    cursor: pointer;
    opacity: 0.5;
}

