 <div fxLayoutAlign="center">
<div  fxFlex.xl="70%" fxFlex.lg="80%" fxFlex.md="80%" fxFlex.sm="80%" fxFlex.xs="80%" class="maindiv">
    
<mat-card *ngFor="let note of NoteArray | search:searchInput" class=card  
ngStyle.xl="width:150px" ngStyle.lg="width:25%" ngStyle.md="width:25%" ngStyle.sm="width:40%"
 ngStyle.xs="width:90%" [style.backgroundColor]="note.color">
<div>
  <div fxLayout="row">
    <div  fxFlex=90% class="note"  [innerHTML]="note.title" (click)="open(note)"></div>
    <span fxFlex=10%>
           <app-pin [Note]=note></app-pin>
    </span>
  </div>
  
  <div class="note" [innerHTML]="note.description" (click)="open(note)"> </div>
  <div class="note" *ngFor="let checklist of note.noteCheckLists" fxLayout="row" > 

    <mat-checkbox fxFlex="10%"  *ngIf="checklist.status=='open' && !checklist.isDeleted" (click)=checkBox(checklist,note)></mat-checkbox>
    <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close' && !checklist.isDeleted" (click)=checkBox(checklist,note)></mat-checkbox>
    <input *ngIf="!checklist.isDeleted && checklist.status=='open' " [(ngModel)]=checklist.itemName fxFlex="90%" class="note" (click)="open(note)" [style.backgroundColor]="note.color">
    <del *ngIf="checklist.status=='close' && !checklist.isDeleted" (click)="open(note)">{{checklist.itemName}}</del>
  </div>
<mat-chip-list >
  <div *ngFor="let label of note.noteLabels" class="chip">
    <mat-chip [removable]=true *ngIf="!label.isDeleted">{{label.label}}
  <mat-icon matChipRemove (click)=deleteLabel(note,label)>cancel</mat-icon>

    </mat-chip></div>
 
</mat-chip-list>
<span fxLayout="row " fxLayoutAlign="space-around" class="icons" >
  <div><app-remind-me [Note]=note></app-remind-me></div>
  <div><app-collaborator [Note]=note ></app-collaborator></div>
  <div><app-change-color [Note]=note (eventEmitter)="eventDone($event)" ></app-change-color></div>
  <div> <app-add-image [Note]=note></app-add-image></div>
  <div> <app-archive [Note]=note (eventEmit)="eventDone($event)" ></app-archive></div>
  <div> <app-more [Note]=note (eventEmit)="eventDone($event)"  ></app-more></div>
</span>
</div>
</mat-card>
</div>
</div>
