 <div fxLayoutAlign="center">
<div  fxFlex.xl="70%" fxFlex.lg="80%" fxFlex.md="80%" fxFlex.sm="80%" fxFlex.xs="80%" class="maindiv">
    
<mat-card *ngFor="let note of NoteArray | search:searchInput" style="margin:1%;height:min-content;border-radius:10px" 
ngStyle.xl="width:150px" ngStyle.lg="width:25%" ngStyle.md="width:25%" ngStyle.sm="width:40%"
 ngStyle.xs="width:90%" [style.backgroundColor]="note.color">
<div>
  <div fxLayout="row">
    <div  fxFlex=90% class="note"  [innerHTML]="note.title" (click)="open(note)"></div>
    <span fxFlex=10%>
      <mat-icon (click)=pin()>fiber_pin</mat-icon>
    </span>
  </div>
  
  <div class="note" [innerHTML]="note.description" (click)="open(note)"> </div>
<mat-chip-list>
  <div *ngFor="let label of note.noteLabels">
    <mat-chip [removable]=true *ngIf="!label.isDeleted">{{label.label}}
  <mat-icon matChipRemove (click)=deleteLabel()>cancel</mat-icon>

    </mat-chip></div>
 
</mat-chip-list>
<span fxLayout="row " fxLayoutAlign="space-around" class="icons">
  <div><app-remind-me></app-remind-me></div>
  <div><app-collaborator></app-collaborator></div>
  <div><app-change-color [Note]=note (eventEmitter)="eventDone($event)"></app-change-color></div>
  <div> <app-add-image></app-add-image></div>
  <div> <app-archive [Note]=note (eventEmit)="eventDone($event)"></app-archive></div>
  <div> <app-more [Note]=note (eventEmit)="eventDone($event)" ></app-more></div>
</span>
</div>
</mat-card>
</div>
</div>
<!-- | search:searchInput -->