<div fxLayout="column" fxLayoutGap="10%">
  <div fxFlex.lg="10%" fxFlex.xl="0%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
  <div fxLayout="row" fxFlex.lg="100%" fxFlex.xl="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
    <div fxFlex.lg="30%" fxFlex.xl="15%" fxFlex.md="15%" fxFlex.sm="15%" fxFlex.xs="0%"></div>


    <div fxFlex.lg="40%" fxFlex.xl="70%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xs="100%">



    <mat-card >
      <div >
        <div>
        <mat-card-title><i>Fundoo</i></mat-card-title>
        <mat-card-subtitle>sign in</mat-card-subtitle>
          </div>
        
          <mat-form-field class="input_fields">
            <input matInput placeholder="Enter email id" [(ngModel)]="model.emailid">
          </mat-form-field>

          <br>
        

        
          <mat-form-field class="input_fields">
            <input matInput placeholder="Enter Password" [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="model.password" [(ngModel)]="model.password">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        <br>
        
          <a href="">forgot password?</a>

        <div>
          <a routerLink="/signup">create an account..</a>
          <button mat-align="center" mat-button class="button" (click)=login()>login</button>
        </div>
      </div>

    </mat-card>
    </div>

    <div fxFlex.lg="30%" fxFlex.xl="15%" fxFlex.md="15%" fxFlex.sm="15%" fxFlex.xs="0%"></div>
  </div>


<div fxFlex.lg="10%" fxFlex.xl="0%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>

</div>
