  <div fxLayout="column" fxLayoutGap="2%">
  <div fxFlex=0></div>
  <div fxFlex="100%" fxLayout="row" > 
    <div fxFlex="20%"></div>
<div fxFlex="80%" fxFlex.xs="100%"  fxLayoutAlign="space-around center">
<div *ngIf="!clicked">
  <mat-card class="example-card" style="height:auto;width:550px">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <input type="text" class="note" placeholder="Take a note.." style="margin-top:2%;flex:1 1 auto" (click)="clicked=true">

      <div fxLayout="row" fxLayoutGap="10%">
        <div><mat-icon (click)="check=true && clicked=true">check_box</mat-icon></div>
        <div><mat-icon>photo</mat-icon></div> 
        <div><mat-icon>edit</mat-icon></div> 
      </div>
    </mat-card-header>
  </mat-card>
</div>
  <div *ngIf="clicked">
    <mat-card class="example-card" style="height:auto;width:550px" [style.backgroundColor]="changedColor">
      <div fxLayout="row">
        <div contenteditable="true" placeholder="Title" class="note" id="title"></div>
        <div>
          <mat-icon (click)=pin()>fiber_pin</mat-icon>
        </div>
      </div>
      <div contenteditable="true" class="note" placeholder="Take a Note" id="note" *ngIf="!check"></div>





          <div *ngIf="check" fxLayout="row">

            <mat-checkbox fxFlex="5%"></mat-checkbox>
            <div fxFlex="90%" contenteditable="true" class="note" placeholder="List Item" id="note" (keydown.enter)="onEnter($event)"></div>

          </div>
<mat-chip-list>
  <div *ngFor="let label of labelName">
    <mat-chip [removable]=true *ngIf="!label.isDeleted">{{label.label}}
      <mat-icon matChipRemove (click)=deleteLabel(label)>cancel</mat-icon>

    </mat-chip>
  </div>

</mat-chip-list>


      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div><app-remind-me></app-remind-me></div>
        <div><app-collaborator></app-collaborator></div>
        <div><app-change-color [Note]="" (eventColor)=colorChanged($event) ></app-change-color></div>
        <div><app-add-image></app-add-image></div>
        <div><app-archive></app-archive></div>
        <div><app-more (labelEvent)=labelEvent($event)></app-more></div>
        <div><mat-icon matTooltip="Undo">undo</mat-icon></div>
        <div><mat-icon matTooltip="Redo">redo</mat-icon></div>
        <div><button mat-button (click)="addNotes();check=false">close</button></div>
      </div>
    </mat-card>
  </div>
</div>
<div fxFlex="20%"></div>
</div>
<div fxFlex=0></div>
</div>

