  <div fxLayout="column" fxLayoutGap="2%">
  <div fxFlex=0></div>
  <div fxFlex="100%" fxLayout="row" > 
    <div fxFlex="20%"></div>
<div fxFlex="80%" fxFlex.xs="100%"  fxLayoutAlign="space-around center">
<div *ngIf="!clicked">
  <mat-card class="example-card" class="card">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <input type="text" class="note" placeholder="Take a note.."  (click)="clicked=true">

      <div fxLayout="row" fxLayoutGap="10%">
        <div><mat-icon (click)="check=true && clicked=true">check_box</mat-icon></div>
        <div><mat-icon>photo</mat-icon></div> 
        <div><mat-icon>edit</mat-icon></div> 
      </div>
    </mat-card-header>
  </mat-card>
</div>
  <div *ngIf="clicked">
    <mat-card class="example-card" class=card [style.backgroundColor]="changedColor">
      <div fxLayout="row">
        <div contenteditable="true" placeholder="Title" class="note" id="title"></div>
        <div><app-pin (eventEmit)=pinEvent()></app-pin></div>
      </div>
      <div contenteditable="true" class="note" placeholder="Take a Note" id="note" *ngIf="!check"></div>
        <div *ngIf="check">
          <div *ngFor="let data of dataArray" fxLayout="row">
           <mat-checkbox fxFlex="5%" [(ngModel)]=data.isChecked (click)="isChecked=!isChecked"></mat-checkbox>
           <input fxFlex="90%"  class="note"  [(ngModel)]=data.data  [style.backgroundColor]="changedColor">
                <mat-icon fxFlex="5%" (click)=onDelete(data) matTooltip="delete">cancel</mat-icon>
          </div>
          <hr>
           <div fxLayout="row"> 
            <mat-icon fxFlex="5%">add</mat-icon>
            <input [(ngModel)]=data fxFlex="95%" class="note" placeholder="List Item" (keydown.enter)="onEnter()" 
            [style.backgroundColor]="changedColor" (keydown.backspace)="onDelete()"/>
            </div>
           <hr>
        </div>
<mat-chip-list>
  <div *ngFor="let label of labelName">
    <mat-chip [removable]=true *ngIf="!label.isDeleted">{{label.label}}
      <mat-icon matChipRemove (click)=deleteLabel(label)>cancel</mat-icon>

    </mat-chip>
  </div>

</mat-chip-list>


      <div fxLayout="row" fxLayoutAlign="space-around center" class="icondiv">
        <div><app-remind-me ></app-remind-me></div>
        <div><app-collaborator></app-collaborator></div>
        <div><app-change-color [Note]="" (eventColor)=colorChanged($event) ></app-change-color></div>
        <div><app-add-image></app-add-image></div>
        <div><app-archive (eventEmit)=archiveEvent($event)></app-archive></div>
        <div><app-more (labelEvent)=labelEvent($event)></app-more></div>
      
        <div><button mat-button (click)="addNotes();check=false">close</button></div>
      </div>
    </mat-card>
  </div>
</div>
<div fxFlex="20%"></div>
</div>
<div fxFlex=0></div>
</div>

