<div *ngIf="!clicked">
  <mat-card class="example-card" style="padding:0px;width:150%">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <input type="text" class="note" placeholder="Take a note.." style="margin-top:2%;flex:1 1 auto" (click)="clicked=true">

      <mat-icon>list</mat-icon>
      <mat-icon>photo</mat-icon>
      <mat-icon>edit</mat-icon>
    </mat-card-header>

  </mat-card>
</div>
<div *ngIf="clicked">
  <mat-card class="example-card" style="height:auto;width:400px">
    <div fxLayout="row"><div contenteditable="true" placeholder="Title" class="note"></div>
    <div><mat-icon>fiber_pin</mat-icon></div></div>
    <div contenteditable="true" class="note" placeholder="desc"></div><br><br>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div> <app-remind-me></app-remind-me></div>
  <div><app-collaborator></app-collaborator></div>
<div><app-change-color></app-change-color></div>
<div><app-add-image></app-add-image></div>
<div><app-archive></app-archive></div>
<div><app-more></app-more></div>
<div><mat-icon matTooltip="Undo">undo</mat-icon></div>
<div><mat-icon matTooltip="Redo">redo</mat-icon></div>
<div><button mat-button  (click)="clicked=!clicked">close</button></div></div>
  </mat-card>
</div>

<!-- fxLayout="row" fxLayoutAlign="space-around center" -->