.example-container {
  position: absolute;
  top: 57px;
  bottom: 0;
  left: 0;
  right: 0;

  background: #eee;
}
.sidebar{
    width:20%
}
.note{
    width: 50%;
  height: 40px;
  border:none;

}
.material-icons {
    
    opacity: 0.5;
}
