<mat-card class="example-card" style="height:auto;width:550px" [style.backgroundColor]="bgcolor">
  <div fxLayout="row" >
    <div contenteditable="true" placeholder="Title" class="note" id="Updatedtitle" [innerHTML]="data.title" *ngIf="!data.isDeleted"></div>
      <div contenteditable="false" placeholder="Title" class="note" id="Updatedtitle" [innerHTML]="data.title" *ngIf="data.isDeleted"></div>
    <div>
      <!-- <mat-icon (click)=pin()>fiber_pin</mat-icon> -->
        <app-pin [Note]=data></app-pin>
    </div>
  </div >
  <div contenteditable="true" class="note" placeholder="Take a Note" id="Updatednote" 
   [innerHTML]="data.description" *ngIf="!data.isDeleted"></div>
  <div contenteditable="false" class="note" placeholder="Take a Note" id="Updatednote" [innerHTML]="data.description"
    *ngIf="data.isDeleted"></div>
  <mat-chip-list>
    <div *ngFor="let label of labels">
      <mat-chip [removable]=true *ngIf="!label.isDeleted">{{label.label}}
        <mat-icon matChipRemove (click)=deleteLabel()>cancel</mat-icon>
  
      </mat-chip>
    </div>
  
  </mat-chip-list>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="icons"><app-remind-me [Note]=data></app-remind-me></div>
    <div class="icons"><app-collaborator [Note]=data></app-collaborator></div>
    <div class="icons"><app-change-color [Note]=data ></app-change-color></div>
    <div class="icons"><app-add-image [Note]=data></app-add-image></div>
    <div class="icons"><app-archive  [Note]=data></app-archive></div>
    <div class="icons"><app-more [Note]=data (labelEvent)=labelAdded($event)></app-more></div>
   
    <div class="icons"><button mat-button (click)=onClose()>close</button></div>
  </div>
</mat-card>