<mat-card class="example-card" class=card s [style.backgroundColor]="bgcolor">
  <div fxLayout="row" >
    <div contenteditable="true" placeholder="Title" class="note" id="Updatedtitle" [innerHTML]="data.title" *ngIf="!data.isDeleted"></div>
      <div contenteditable="false" placeholder="Title" class="note" id="Updatedtitle" [innerHTML]="data.title" *ngIf="data.isDeleted"></div>
    <div>
   
        <app-pin [Note]=data></app-pin>
    </div>
  </div >
    <div contenteditable="true" class="note"  id="Updatednote" 
     [innerHTML]="data.description" *ngIf="!data.isDeleted"></div>
     <div contenteditable="false" class="note"  id="Updatednote" 
    [innerHTML]="data.description"   *ngIf="data.isDeleted"></div>



    <div class="note" *ngFor="let checklist of data.noteCheckLists" fxLayout="row">
    
      <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted" (click)=checkBox(checklist)></mat-checkbox>
      <!-- <mat-checkbox fxFlex="10%" checked=true *ngIf="!checklist.status=='close'&& !checklist.isDeleted" (click)=checkBox(checklist)></mat-checkbox> -->
      <input [(ngModel)]=checklist.itemName fxFlex="80%" class="note" (keydown)=editing(checklist,$event) 
      [style.backgroundColor]="bgcolor" *ngIf="!checklist.isDeleted && checklist.status=='open' ">
      <mat-icon fxFlex="10%" class="clearIcon" (click)=removeList(checklist) *ngIf="!checklist.isDeleted && checklist.status=='open'">clear</mat-icon>
    </div>

      <hr *ngIf="checklist">
      <div fxLayout="row" *ngIf="checklist">
        <mat-icon fxFlex="5%">add</mat-icon>
        <input  fxFlex="95%" class="note" placeholder="List Item" [style.backgroundColor]="bgcolor"/>
      </div>
      <hr *ngIf="checklist">
      <div class="note" *ngFor="let checklist of data.noteCheckLists" fxLayout="row">
          <!-- <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted" (click)=checkBox(checklist)></mat-checkbox> -->
          <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted" (click)=checkBox(checklist)></mat-checkbox>
          <del contenteditable="true"  fxFlex="80%" *ngIf="checklist.status=='close' && !checklist.isDeleted" (keydown)=editing(checklist,$event)>{{checklist.itemName}}</del>
         <mat-icon fxFlex="10%" class="clearIcon" (click)=removeList(checklist) *ngIf="!checklist.isDeleted && checklist.status=='close'">clear</mat-icon>
      </div>

  <mat-chip-list>
    <div *ngFor="let label of labels" class=divicon>
      <mat-chip [removable]=true *ngIf="!label.isDeleted">{{label.label}}
        <mat-icon matChipRemove (click)=deleteLabel()>cancel</mat-icon>
  
      </mat-chip>
    </div>
  
  </mat-chip-list>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="icons"><app-remind-me [Note]=data></app-remind-me></div>
    <div class="icons"><app-collaborator [Note]=data></app-collaborator></div>
    <div class="icons"><app-change-color [Note]=data ></app-change-color></div>
    <div class="icons"><app-add-image [Note]=data></app-add-image></div>
    <div class="icons"><app-archive  [Note]=data></app-archive></div>
    <div class="icons"><app-more [Note]=data  (labelEvent)=labelAdded($event)></app-more></div>
   
    <div class="icons"><button mat-button (click)=onClose()>close</button></div>
  </div>
</mat-card>