<mat-card class="example-card" style="height:auto;width:550px" [style.backgroundColor]="bgcolor">
  <div fxLayout="row" >
    <div contenteditable="true" placeholder="Title" class="note" id="Updatedtitle" [innerHTML]="data.title"></div>
    <div>
      <mat-icon (click)=pin()>fiber_pin</mat-icon>
    </div>
  </div >
  <div contenteditable="true" class="note" placeholder="Take a Note" id="Updatednote" 
   [innerHTML]="data.description"></div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="icons"><app-remind-me></app-remind-me></div>
    <div class="icons"><app-collaborator></app-collaborator></div>
    <div class="icons"><app-change-color [Note]=data (eventColor)=colorChanged($event)></app-change-color></div>
    <div class="icons"><app-add-image></app-add-image></div>
    <div class="icons"><app-archive  [Note]=data></app-archive></div>
    <div class="icons"><app-more [Note]=data ></app-more></div>
    <div class="icons"><mat-icon matTooltip="Undo">undo</mat-icon></div>
    <div class="icons"><mat-icon matTooltip="Redo">redo</mat-icon></div>
    <div class="icons"><button mat-button (click)=onClose()>close</button></div>
  </div>
</mat-card>