<!-- <a routerLink="/login"></a> -->

<div fxLayout="column"  fxLayoutGap="10%">
  <div fxFlex.lg="10%" fxFlex.xl="10%" fxFlex.md="10%" fxFlex.sm="0%" fxFlex.xs="0%" ></div>
  <div fxLayout="row" fxFlex.lg="80%" fxFlex.xl="80%" fxFlex.md="80%" fxFlex.sm="100%" fxFlex.xs="100%" >
    <div fxFlex.lg="30%" fxFlex.xl="10%" fxFlex.md="10%" fxFlex.sm="0%" fxFlex.xs="0%" ></div>


    <div fxFlex.lg="40%" fxFlex.xl="80%" fxFlex.md="80%" fxFlex.sm="100%" fxFlex.xs="100%">
      <form name="form" (ngSubmit)="signup()">
      <mat-card>
        <div>
          <mat-card-title>Sign up</mat-card-title>

          <mat-form-field class="input">
            <input matInput placeholder="first name" name="firstname" [(ngModel)]="model.firstName" #firstName="ngModel">
          </mat-form-field>
          <mat-form-field class="input" style="margin-left:2%">
            <input matInput placeholder="last name" name="lastname" [(ngModel)]="model.lastName" #lastName="ngModel" >
          </mat-form-field><br>
      
          <mat-form-field style="width:80%">
            <input matInput type="email" placeholder="email id" name="emailid" [(ngModel)]="model.emailid" #emailid="ngModel" >
          </mat-form-field><br>
         
          <mat-form-field class="input">
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="model.password" #password="ngModel">
          </mat-form-field>
          <mat-form-field style="margin-left:2%" class="input">
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

          <div flexLayout="row" fxLayoutAlign="center" >
            <div fxFlex.lg="50%"  *ngFor="let Card of cards" >
              <mat-card matbutton (click)=respond(Card) [ngClass]="Card.select ? 'selected' : 'notselected'" style="height:45px" >
                <mat-card-title style="font-size:15px">{{Card.name}}</mat-card-title>
                <mat-card-content style="font-size:10px">{{Card.description}}</mat-card-content>
              </mat-card>
            </div>
          </div>
            
          <a routerLink="/login" >Signin if already have an account</a>
          <button mat-button class="button" ng-click=signup()>signup</button>
        </div>
      </mat-card>
      </form>
    </div>

    <div fxFlex.lg="30%" fxFlex.xl="10%" fxFlex.md="10%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
  </div>
  <div fxFlex.lg="10%" fxFlex.xl="10%" fxFlex.md="10%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
</div>