.button{
    border-radius: 0;
        /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
        background-color: rgb(79, 102, 206);
        float:right;
}
a{
    font-size: 80%;                      
    text-align: left;
}
.selected{
   background-color: grey;
}
.notselected{
      background-color:papayawhip;
}
.input{
    width:45%;
}
