.button{
    border-radius: 0;
        /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
        background-color: rgb(79, 102, 206);
        float:right;
}
.f{
    color:darkcyan;
}
.u{
    color:palevioletred;
}
.n{
     color:rgb(11, 235, 235);
}
.d{
    color:rgb(124, 238, 153)
}
.o{
    
color:rgb(244, 247, 118)
}
.passwordField{
    margin-left:2%
}